
@{
    this.ViewData["Title"] = "Home Page";
}

<br />
<section class="py-5"
         style="background-image: url('https://centralbottle.com/wp-content/uploads/2019/06/drinkingwater.jpg'); background-repeat: no-repeat; background-position: center ">
      <div style="height: 40vh;"></div>
</section>
<br />
<div class="text-center">
    <a href="/WaterCalculator/InputData">
        <input type="submit" value="Water Calculator" class="btn btn-primary" />
    </a>
</div>
